* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: 500;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
}

main {
  height: 100vh;
  border: 1px solid gray;
  width: 30%;
}

nav {
  height: 13%;
  /* border: solid green; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom left,
    rgb(181, 41, 181),
    rgb(229, 191, 210)
  );
}

main > section {
  height: 74%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 90%;
}

main > #appData {
  background-image: linear-gradient(
    to bottom left,
    rgb(181, 41, 181),
    rgb(229, 191, 210)
  );
  height: 100%;
}
